<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheDirectory="var/phpunit">
    <testsuites>
        <testsuite name="module-whmcs">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">package/modules/gateways/pagou/src</directory>
        </include>
    </source>
</phpunit>
